.chat_section
  .chat_section_wrapper.active
    .chat
      h1 <strong>Hola</strong>, cual es su consulta?  
      .chat_messages
        .chat_messages_wrapper
          .messages_wrapper
            .bubble.bubble_client Hola 
            .bubble.bubble_admin hola que desea saber?
            .bubble.bubble_client cual es precio de...
            .bubble.bubble_client hola 
            .bubble.bubble_admin Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum cumque aspernatur molestiae!
            .bubble.bubble_client cual es precio de...
            .bubble.bubble_client hola 
            .bubble.bubble_client provident quam, dignissimos sit similique illo, dicta ipsa veritatis debitis consectetur, voluptatum eius eveniet. Ducimus quae, recusandae magnam?
            .bubble.bubble_client cual es precio de...
    .button_chat
      i#open_chat.fa.fa-comments
      input(id="field_chat", placeholder="Escriba su consulta...")
