section.products_info_content
  .products_info_wrapper
    .tab_wrapper
      aside.tab.active 
        h2 Caracteristicas
      aside.tab 
        h2 Especificaciones
      aside.tab 
        h2 Valoracion
    .info_content
      .info_wrapper
        .info_products.active
          .info_products_char
            .title_char
              i.ion-wifi
              h2 WIFI
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque labore sit aliquid? Velit.
          .info_products_char
            .title_char
              i.ion-camera
              h2 CAMARA
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque labore sit aliquid? Velit.
          .info_products_char
            .title_char
              i.ion-bluetooth
              h2 bluetooth
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque labore sit aliquid? Velit.
          .info_products_char
            .title_char
              i.ion-mic-a
              h2 microfono
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque labore sit aliquid? Velit.
          .info_products_char
            .title_char
              i.ion-flash-off
              h2 flash
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque labore sit aliquid? Velit.
          .info_products_char
            .title_char
              i.ion-map
              h2 GPS
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque labore sit aliquid? Velit.    
        .info_products
          table
              tr
                th
                  h1 Nombre
                th
                  h1 Descripcion
              - for (var i = 0; i < 5; ++i) {
                tr.item
                  td
                    h2 puertos
                  td
                   h2 3.0  Serial Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo autem deserunt voluptates eos, consequuntur
              - }    
                
        .info_products
          table
              tr
                th
                  h1 Nombre
                th
                  h1 Descripcion
              - for (var i = 0; i < 5; ++i) {
                tr.item
                  td
                    h2 puertos
                  td
                   h2 3.0  Serial Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo autem deserunt voluptates eos, consequuntur
              - }    
          
                
